.settngs/
*.classpath
*.project
*.iml
client/target/
/.idea/
/target/
core/target/*
core/logs/*
core/META-INF/*
test/target/*
test/logs/*
test/META-INF/*
out/*
logs/*
*/target/*
common/target/*
/Account/target/
/Eureka/target/
/Transaction/target/
/Gateway/target
